.home-page {
	margin-top: 97px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	text-align: center;
}

.home-page h1 {
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
}

.home-page p {
	font-size: 16px;
	line-height: 27px;
	max-width: 600px;
}

.home-page img {
	max-width: 290px;
}

.home-page button {
	padding-inline: 83px;
	animation: slide-animation-home 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.highlight {
	color: #ec7160;
	display: inline-block;
	animation: slide-animation-home 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s
		forwards;
	opacity: 0;
}

@keyframes slide-animation-home {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
