.contact {
	margin-top: 61px;
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 36px;
	margin-inline: auto;
	height: fit-content;
	position: relative;
}

.contact h2 {
	font-weight: 700;
	font-size: 16px;
}

.label {
	display: flex;
	justify-content: space-between;
}

.label p {
	font-size: 14px;
	color: #ec7160;
	transform: translateY(30px);
	transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	z-index: -1;
}

.label p.visible {
	transform: translateY(0);
}

.contact label {
	display: block;
	font-size: 13px;
	color: #898989;
	margin-bottom: 9px;
}

.contact input {
	height: 45px;
	text-indent: 8px;
}

.contact input:focus,
.contact textarea:focus {
	outline: none;
	box-shadow: 0px 2px 5px 1px rgb(0 0 0 /0.3);
}

.contact textarea {
	max-width: 600px;
	height: 135px;
	padding: 8px;
}

.contact .button {
	padding-inline: 16px;
	width: fit-content;
}

.span-two {
	grid-column: span 2;
}

.success {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 32px;
	border-radius: 8px;
	width: 50%;
	box-shadow: 0px 3px 10px 2px rgb(0 0 0 /0.3);
	transition: margin-top 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.5s;
	margin-top: -100%;
	opacity: 0;
}

.success.visible {
	margin-top: 0;
	opacity: 1;
}

.success h2 {
	font-weight: 700;
	font-size: 20px;
}
.success p {
	margin-top: 8px;
	color: #898989;
}

.success button {
	margin-top: 32px;
}
