nav {
	background: #f6f6f6;
	padding: 40px 23px;
	min-width: 258px;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo img {
	width: 32px;
}

.logo-text {
	font-family: 'Aclonica';
	font-size: 15px;
	color: #ec7160;
}

.nav-container {
	margin-top: 38px;
	display: grid;
	place-items: left;
	gap: 14px;
}

.nav-container a {
	padding-left: 12px;
	text-decoration: none;
	font-size: 16px;
	line-height: 27px;
	color: #898989;
	transition: color 0.3s;
}

.nav-container a.active {
	border-left: 3px solid #ec7160;
	color: #303030;
	padding-left: 9px;
}

.nav-container a:hover {
	color: #303030;
}

nav .button {
	margin-top: auto;
	padding-inline: 6px;
}

@media screen and (max-width: 1000px) {
	nav {
		padding: 10px;
		flex-direction: row;
	}
	.nav-container {
		margin-top: 0;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 14px;
	}

	.nav-container a {
		padding-left: 0;
		padding-top: 9px;
	}
	.nav-container a.active {
		border-left: none;
		border-top: 3px solid #ec7160;
		color: #303030;
		padding-left: 0;
		padding-top: 6px;
	}
	.nav-container p {
		margin-top: 9px;
	}
}
