.split {
	display: flex;
}

/* No notes */

.no-notes {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no-notes h1 {
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
}

.no-notes .button {
	padding-inline: 16px;
}

/* Sidebar */

.sidebar {
	width: 30%;
	height: 100vh;
	border-right: 1px solid #e7e7e9;
	animation: slide-animation 0.3s;
}

.sidebar .button {
	display: block;
	width: 70%;
	margin: 78px auto 43px auto;
	animation: slide-animation 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.sidebar h3 {
	font-weight: 400;
	font-size: 13px;
	color: #ec7160;
	padding: 8px 28px;
	border-top: 1px solid #e7e7e9;
	border-bottom: 1px solid #e7e7e9;
}

.notes {
	width: 90%;
	margin-inline: auto;
	margin-top: 24px;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 80%;
	padding-right: 5px;
}

.notes::-webkit-scrollbar {
	width: 5px;
}

.notes::-webkit-scrollbar-track {
	/* background-color: #e7e7e9; */
	border-radius: 5px;
}

.notes::-webkit-scrollbar-thumb {
	background-color: rgba(236, 113, 96, 0.5);
	border-radius: 5px;
	/* outline: 1px solid slategrey; */
}

.notes a {
	text-decoration: none;
}

.note {
	padding: 10px 16px;
	position: relative;
	animation: slide-animation cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transition: background-color 0.5s;
}

.top-row {
	display: flex;
	justify-content: space-between;
}

.note-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #303030;
}

.note-description {
	margin-top: 3px;
	color: #898989;
	line-height: 1.2rem;
	font-size: 13px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-date {
	margin-top: 8px;
	font-size: 13px;
	line-height: 20px;
	color: #898989;
}

.selected-note {
	background: #f6f6f6;
	border-radius: 8px;
}

@keyframes slide-animation {
	from {
		transform: translateX(-50px);
	}
	to {
		transform: translateX(0);
	}
}

.chevron {
	cursor: pointer;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	margin-left: -14px;
	margin-top: 118px;
	border: 1px solid #e7e7e9;
	background-color: white;
	display: grid;
	place-items: center;
	transition: background-color 0.3s;
	animation: slide-animation 0.3s;
	z-index: 2;
}

.chevron:hover {
	background-color: #ec7160;
}

.chevron img {
	width: 70%;
	transition: transform 0.5s;
}

.chevron img.closed {
	transform: rotate(180deg);
}

/* Trash icon */

.delete-btn {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	padding: 3px;
	transition: background-color 0.3s;
}

.delete-btn img {
	height: 16px;
}

.note:hover .delete-btn {
	display: block;
}

.delete-btn:hover {
	background-color: rgba(236, 113, 96, 0.5);
}

/* Editor */

.editor {
	padding: 16px;
	width: 70%;
}

.editor-title {
	border: none;
	margin: 6px;
}

.editor-title:focus {
	outline: none;
}

.react-mde {
	border: none;
}

.mde-header {
	background: #fff;
	border-bottom: none;
}

.mde-tabs {
	flex-basis: 100%;
	border-bottom: 1px solid #d2d2d2;
}

.mde-header .mde-tabs button {
	font-family: Roboto, sans-serif;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	height: 24px;
	width: 67px;
	background-color: rgba(236, 113, 96, 0.5);
	border-radius: 2px;
	transition: color 0.3s, background-color 0.3s;
}

.mde-tabs button.selected {
	border: #ec7160 1px solid;
	background-color: #ec7160;
}
.mde-tabs button:hover {
	background: #ffffff;
	color: #ec7160;
	border: #ec7160 1px solid;
}

.mde-textarea-wrapper {
	border: 1px solid #d2d2d2;
}

.mde-preview {
	border: 1px solid #fff;
}
