* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	color: #303030;
	overflow: hidden;
}

main {
	flex: 1;
	width: 100%;
	display: flex;
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.button {
	font-family: inherit;
	border: #ec7160 1px solid;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	height: 40px;
	background-color: #ec7160;
	border-radius: 7px;
	transition: color 0.3s, background-color 0.3s;
}

.button:hover {
	background: #ffffff;
	color: #ec7160;
}

.form-input {
	width: 100%;
	background: #f6f6f6;
	border-radius: 7px;
	border: none;
}

@media screen and (max-width: 1000px) {
	.container {
		flex-direction: column;
	}
}
