* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	color: #303030;
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
}

/* General */

.button {
	font-family: inherit;
	border: #ec7160 1px solid;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	height: 40px;
	background-color: #ec7160;
	border-radius: 7px;
	transition: color 0.3s, background-color 0.3s;
}

.button:hover {
	background: #ffffff;
	color: #ec7160;
}

.form-input {
	width: 100%;
	background: #f6f6f6;
	border-radius: 7px;
	border: none;
}

/* Nav */

nav {
	background: #f6f6f6;
	padding: 40px 23px;
	min-width: 258px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo img {
	width: 32px;
}

.logo-text {
	font-family: 'Aclonica';
	font-size: 15px;
	color: #ec7160;
}

.nav-container {
	margin-top: 38px;
	display: grid;
	place-items: left;
	gap: 14px;
}

.nav-container a {
	padding-left: 12px;
	text-decoration: none;
	font-size: 16px;
	line-height: 27px;
	color: #898989;
	transition: color 0.3s;
}

.nav-container a.active {
	border-left: 3px solid #ec7160;
	color: #303030;
	padding-left: 9px;
}

.nav-container a:hover {
	color: #303030;
}

/* Home */

.home-page {
	margin-top: 97px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	text-align: center;
}

.home-page h1 {
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
}

.home-page p {
	font-size: 16px;
	line-height: 27px;
	max-width: 600px;
}

.home-page img {
	max-width: 290px;
}

.home-page button {
	padding-inline: 83px;
}

.highlight {
	color: #ec7160;
	padding-inline: 16px;
}

/* Contact */

.contact {
	margin-top: 61px;
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 36px;
	margin-inline: auto;
	height: fit-content;
}

.contact h2 {
	font-weight: 700;
	font-size: 16px;
}

.contact label {
	display: block;
	font-size: 13px;
	color: #898989;
	margin-bottom: 9px;
}

.contact input {
	height: 45px;
	text-indent: 8px;
}

.contact textarea {
	max-width: 600px;
	height: 135px;
	padding: 8px;
}

.contact .button {
	padding-inline: 16px;
	width: fit-content;
}

.span-two {
	grid-column: span 2;
}

.ql-editor p,
.ql-editor.ql-blank::before {
	font-size: 1.3em;
	font-weight: 100;
}

.pane {
	overflow-y: auto;
	/* padding: 10px; */
}

.sidebar {
	width: 20%;
	height: 100vh;
}

.sidebar--note {
	/* display: flex; */
}

.sidebar--header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sidebar--header > h3 {
	font-size: 1.75rem;
}

.new-note {
	cursor: pointer;
	background-color: #4a4e74;
	border: none;
	color: white;
	border-radius: 3px;
	height: 30px;
	width: 30px;
}

.first-note {
	cursor: pointer;
	background-color: #4a4e74;
	border: none;
	color: white;
	border-radius: 3px;
	padding: 1rem;
}

.editor {
	width: 80%;
	height: 100vh;
}

.title {
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title--delete {
	display: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.title:hover .title--delete {
	display: block;
}

.note-summary:not(:last-of-type) {
	border-bottom: 1px solid lightgray;
}

.text-snippet {
	padding-inline: 5px;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.2rem;
	color: #4a4e74;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected-note {
	background-color: #4a4e74;
}

.selected-note .text-snippet {
	color: white;
	font-weight: 700;
}

.gutter {
	background-color: #eee;

	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
	cursor: col-resize;
}

.split {
	display: flex;
}

main {
	flex: 1;
	width: 100%;
}

.no-notes {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Trash icon */

.delete-btn {
	display: none;
	background: none;
	border: none;
}

.title:hover > .delete-btn {
	display: block;
}

.trash-icon {
	cursor: pointer;
}

.gg-trash {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 10px;
	height: 12px;
	border: 2px solid transparent;
	box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
}

.gg-trash::after {
	background: currentColor;
	border-radius: 3px;
	width: 16px;
	height: 2px;
	top: -4px;
	left: -5px;
}

.gg-trash::before {
	width: 10px;
	height: 4px;
	border: 2px solid;
	border-bottom: transparent;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	top: -7px;
	left: -2px;
}

@media screen and (max-width: 1000px) {
	nav {
		min-width: 130px;
	}
}
